.LOGO{
	position: absolute;
	margin: -5px 0 0 -50px;
}
.navbar-brand{
	padding-left: 50px;
}
.navbar-brand img{
	width: 50px;
	height: 50px;
}
.MColor{
	background-color: #2980b9;
}
.main-bages{
	margin: 30px 0;
}
.main-bages p{
	background-color: #2980b9;
	line-height: 100px;
	color: white;
	transition: all 0.2s 0.0s ease;
	margin: 0;
}
.main-bages a:hover{
	text-decoration: none;
}
.main-bages a:hover p{
	background-color: #3498db;
	font-size: 2em;
}
.comment_label{
	line-height: 40px;
	color: white;
	font-size: 1em;
}
.pers{
	background-color: #2980b9;
	margin: 10px 0;
	padding: 5px 10px;
}
.pers td{
	color: white;
}
.pers p{
	color: white;
	display: inline-block;
}
.pers table{
	width: 100%;
}
.pers .name{
	color: rgba(255,255,255,.5);
}
.pers .nl{
	color: #2980b9;
}
.sort{
	background-color: #2980b9;
	margin: 10px 0;
	padding: 5px 10px;
}
.sort label{
	color: white;
	display: block;
}
.sort input{
	margin-right: 10px;
}
.sort .name{
	color: rgba(255,255,255,.5);
}
